################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ciao-bella/FileContentIndex
/.vs/
/bin/Debug/
/obj/