@page "/about"

<PageTitle>About</PageTitle>
<link rel="stylesheet" href="css/resume.css" />


<center>
	<h1 class="title">The Hackers!</h1>

</center>

<center>
	<div class="page">
		<div class="hacker">
			<h3>Anhui Zhang</h3>
			<p>
				Bella's human & professional Bella photographer
				<br /><br />
				Imposter (not a CS major)

			</p>
		</div>
		<div class="hacker">
			<h3>Grace Kang</h3>
			<p>
				Provider of cute cat sketches
				<br /><br />
				Doesn't sleep?? (pulled an all nighter for this)

			</p>
		</div>
		<div class="hacker">
			<h3> Brian Xiao </h3>
			<p>
				Gallery curator and Git debugger
				<br /><br />
				Chauffer (actually brought a car)
				<br /><br />

			</p>
		</div>
	</div>
</center>

<center>
	<a class="backdiv" href="/">
		<img class="back" src="images/back_key.PNG" alt="back" />
	</a>
</center>
