@page "/counter"

<PageTitle>Pop Cat!</PageTitle>
<link rel="stylesheet" href="css/counter.css" />

<center>
    <h1>Pop Cat!</h1>

    <p role="status">Click to pop! (current count: @display)</p>

    <input type="checkbox" @onclick="IncrementCount" />
</center>

@code {
    private int currentCount = 0;
    private int display = 0;

    private void IncrementCount()
    {
        currentCount++;
        display = currentCount / 2;
    }
}

<center>
    <a class="backdiv" href="/">
        <img class="back" src="images/back_key.PNG" alt="back" />
    </a>
</center>
