@page "/counter"

<PageTitle>Pop Cat!</PageTitle>
<link rel="stylesheet" href="css/counter.css" />

<center>
    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <input type="checkbox" @onclick="IncrementCount" />
</center>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

<center>
    <a class="backdiv" href="/">
        <img class="back" src="images/back_key.PNG" alt="back" />
    </a>
</center>
