@page "/gallery"

<link rel="stylesheet" href="css/gallery.css" />

<div class="background_section">
    <h1 class="title">Bella Gallery</h1>
</div>

<div class="main_top">
    <center>
        <div class="long_bar"></div>
    </center>
    <br />
    <center>
        <div class="img-grid">
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella" />
            <img class="gallery_image" src="images/flowers.JPG" alt="bella posing with flowers" />
            <img class="gallery_image" src="images/sleepy.jpg" alt="naptime" />
            <img class="gallery_image" src="images/small-box.jpg" alt="bella sitting in small box" />
            <img class="gallery_image" src="images/grass.JPG" alt="bella in the grass" />
            <img class="gallery_image" src="images/squish-window.jpg" alt="bella squished waching window" />
            <img class="gallery_image" src="images/yawn-puter.jpg" alt="sleeping on the job" />
            <img class="gallery_image" src="images/rolling.JPG" alt=":0 rollinggg" />
            <img class="gallery_image" src="images/melted.JPG" alt="lots of naps" />
        </div>
    </center>

</div>

<a class="backdiv" href="/">
    <img class="back" src="images/back_key.PNG" alt="back" />
</a>