@page "/gallery"

<link rel="stylesheet" href="css/gallery.css" />

<div class="background_section">
    <h1 class="title">Gallery</h1>
</div>

<div class="main_top">
    <center>
        <div class="long_bar"></div>
    </center>
    <br />
    <center>
        <div class="img-grid">
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella1" />
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella2" />
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella3" />
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella4" />
            <img class="gallery_image" src="images/small-box.jpg" alt="facedplant bella5" />
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella6" />
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella7" />
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella8" />
            <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella9" />
        </div>
    </center>

</div>

<button type="button" class="btn btn-cta"><a href="/">Go Back</a></button>