@page "/"

<PageTitle>Ciao, Bella!</PageTitle>

<HeadContent>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="css/index.css" />
</HeadContent>


<h1 class="title">Ciao, Bella!</h1>
<p class="subtitle">Hi! I'm Bella, and this is my portfolio ^u^</p>
<p class="text">Click the icons below to explore!</p>

<div class="icons">
    <figure class="figure">
        <a href="/resume">
            <img class="icon" src="images/lapurrtop.PNG" alt="lapurrtop" />
        </a>
        <figcaption>My Resume!</figcaption>
    </figure>

    <figure class="figure">
        <a href="/gallery">
            <img class="icon" src="images/popcat.GIF" alt="popcat" />
        </a>
        <figcaption>:O !</figcaption>
    </figure>

    <figure class="figure">
        <a href="/gallery">
            <img class="icon" src="images/purrger.PNG" alt="purrger" />
        </a>
        <figcaption>About the Hackers!</figcaption>
    </figure>

    <figure class="figure">
        <a href="/gallery">
            <img class="icon" src="images/purrger.PNG" alt="purrger" />
        </a>
        <figcaption>Gallery!</figcaption>
    </figure>

</div>

<center>
    <div class="img_container">
        <img class="banner_image" src="images/faceplant.jpeg" alt="faceplant bella" />
    </div>
</center>


