@page "/resume"

<PageTitle>Resume</PageTitle>
<link rel="stylesheet" href="css/resume.css" />


<center>
	<h1 class="title">Bella Zhang</h1>
	<h2>Vienna, VA, 22180</h2>

</center>


<left>
	<div class="page">
		<h3>Purrsonal Biography</h3>
		<div class="margin1">
			<p>
				Born: Octover 18th, 2020 (2years, 11months old)
				<br /><br />
				Adopted: January 10th, 2021 (current residence: 2years, 8months)

			</p>
		</div>
		<h3>Purrfesional Experience</h3>
		<div class="margin1">
			<p>
				Eating, First and Second Dinners: Purina Fancy Feast, In Gravy(tm)
				<br /><br />
				Window Watching: Front Door, Backyard, Piano Room Window
				<br /><br />
				Playtime: Bouncy Ball Chasing, Twist Tie Soccer, Paracord String Catching, Avocado Ball Rolling
				<br /><br />
				Sitting in Boxes: Small Boxes, Shallow Boxes, Medium Boxes, Large Boxes
				<br /><br />
				Resting Pastimes: Loafing, Bageling, Rolling, Flopping, Stretching, Yawning

			</p>
		</div>
		<h3> Favorite Lo-cat-ions </h3>
		<div class="margin1">
			<p>
				Sliding Back Door Window: Sunbathing, Bird Watching, Backyard Surveilance
				<br /><br />
				Kitchen Coutner: Waiting for First Dinner, Waiting for Second Dinner
				<br /><br />

			</p>
		</div>
	</div>
</left>

<center>
	<a class="backdiv" href="/">
		<img class="back" src="images/back_key.PNG" alt="back" />
	</a>
</center>